<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891944236392-ojlt5v14q0070bca0m47pankmfsfrtjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891944236392-ojlt5v14q0070bca0m47pankmfsfrtjj</string>
	<key>API_KEY</key>
	<string>AIzaSyARHANZNtM4W0u2NxPZmCrDxoyFS8a6zlo</string>
	<key>GCM_SENDER_ID</key>
	<string>891944236392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hepl.gestion.restoMag</string>
	<key>PROJECT_ID</key>
	<string>restomag-175ef</string>
	<key>STORAGE_BUCKET</key>
	<string>restomag-175ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891944236392:ios:15dbff66779450eda012dd</string>
	<key>DATABASE_URL</key>
	<string>https://restomag-175ef-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>